@page "/register"
@using EventEase.Components

<PageTitle>EventEase - Register</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1>User Registration</h1>
        <p class="text-muted">Create an account to register for events</p>
        
        <RegistrationForm />
    </div>
</div>